.home-container {
  width: 1700px;
  margin: 0 auto;
  background-color: #e3e6f0;
  padding: 1%;
}

.rank-row {
  display: flex;
  justify-content: space-around;
}

.rank-item {
  width: 18%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.item-header {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.item-header h6 {
  color: #4e73df !important;
  font-weight: 700 !important;
  margin: 0 !important;
  font-size: 1.3rem;
}

.item-body {
  padding: 0.5rem;
}

.rank-number {
  font-weight: 800;
}

.item-body table {
  width: 100%;
  border-right-width: 0;
  clear: both;
  margin-top: 6px;
  margin-bottom: 6px;
  max-width: none;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #e3e6f0;
  color: #858796;
}
.item-body tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.item-body tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.item-body td {
  border-bottom-width: 0;
  padding: 0.75rem;
  vertical-align: top;
  border-bottom: 1px solid #858796;
  font-weight: 600;
}

.graph-container {
  display: flex;
  justify-content: space-between;
}

.dough-graph {
  width: 23%;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  margin-top: 30px;
}

.bar-graph {
  width: 50%;
  margin-bottom: 1.5rem !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  margin-top: 30px;
}

.graph-header {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
  align-items: center !important;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.graph-header h6 {
  color: #4e73df !important;
  font-weight: 700 !important;
  margin: 0 !important;
  font-size: 1rem;
  line-height: 1.2;
}

.graph-body {
  padding: 1.25rem;
}
